__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.idea/
.vscode/
.git/
.gitignore
Dockerfile
docker-compose.yml
deployment.yml
recordings/
event_recordings/
logs/
*.tar
*.mp4
*.avi
*.db
.DS_Store