# Version control
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
build
dist
# wheels
*.egg-info
.installed.cfg
*.egg

# Virtual Environment
.env
.venv
env
venv
ENV

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Large Data / Logs
logs
recordings
event_recordings
video
# models

# Docs
README.md
TODO.md
